:root{
    --primary-color: #111111;
    --primary-hover-color: #30694b;
    --secondary-color: #ffffff;
    --secondary-light-color: #777777;
    --background-color: #f7f7f7;
    --border-color: #e5e5e5;
}
body{
  margin: 0;
  padding: 0; 
  background-color:#fff;
  font-family: 'Libre Baskerville', serif;
}
html{
  scroll-behavior: smooth;
}
section , footer , header{
  width: 100%;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}
a{
  text-decoration: none !important;
}
span{
  display: block;
}
ul{
  margin: 0;
}
li{
  list-style-type:none ;
}
button{
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
  border: none;
}
P{
  line-height: 28PX;
}
.underline-3 {
  border-bottom:3px solid transparent !important ;
}
.underline-3:hover{
  border-bottom:3px solid black !important;
}